html {
  -webkit-app-region: drag;
}

body {
  margin: 0px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

#player_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  border-radius: 7px 7px 0px 0px;
  overflow: hidden;
}

#player {
  margin-top: -69px;
  user-select: none;
}

#interface {
  -webkit-app-region: no-drag;
  user-select: none;
  position: absolute;
  left: 0px;
  top: 164px;
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
}

#pause {
  cursor: pointer;
  font-size: 250%;
  color: #444444;
  margin: 0px;
}

#previousVideo {
  cursor: pointer;
  margin: 20px;
  font-size: 220%;
  color: #444444;
  transform: scale(-1, 1);
}

#nextVideo {
  cursor: pointer;
  margin: 20px;
  font-size: 220%;
  color: #444444;
}

#volume {
  user-select: none;
  position: absolute;
  font-size: 120%;
  color: #444444;
  margin: 20px;
  left: 10px;
  bottom: 8px;
}

#volume:hover {
  cursor: pointer;
}

#soundbar {
  user-select: none;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 15px;
  right: 22px;
  margin: 2px;
  display: inline-block;
  text-align: center;
}

#bar1 {
  width: 3px;
  height: 20px;
  background-color: #444444;
  display: inline-block;
  transform-origin: bottom center;
  animation: bar 1s linear 0s infinite normal;
  animation-play-state: paused;
}

#bar2 {
  transform-origin: bottom center;
  width: 3px;
  height: 20px;
  background-color: #444444;
  display: inline-block;
  animation: bar infinite 1s 0.3s normal;
  animation-play-state: paused;
}

#bar3 {
  transform-origin: bottom center;
  width: 3px;
  height: 20px;
  background-color: #444444;
  display: inline-block;
  animation: bar infinite 1s 0.7s normal;
  animation-play-state: paused;
}

@keyframes bar {
  0% {
    transform: scaleY(0.6);
  }

  50% {
    transform: scaley(1.3);
  }

  100% {
    transform: scaley(0.6);
  }
}

.pause {
  animation-play-state: paused;
}

#canvas {
  display: none;
  position: absolute;
  padding: 0px;
  top: 175px;
  left: 30px;
  width: 11px;
  height: 50px;
  z-index: 3;
  background-color: #eeeeee;
  border: 1px solid #444444;
  cursor: pointer;
  border-radius: 3px;
}


#minimize {
  display: block;
  margin-left: 3.5px;
  margin-bottom: 10px;
}

#minimize:hover {
  cursor: pointer;
}

#close_button {
  margin-left: 3.5px;
  margin-right: 3px;
}

#close_button:hover {
  cursor: pointer;
}

#getUrl {
  margin-left: 3.5px;
}

#getUrl:hover {
  cursor: pointer;
}

#windowInterface {
  display: flex;
  width: auto;
  margin-left: 2px;
  height: auto;
  -webkit-app-region: no-drag;
  position: absolute;
  z-index: 4;
  top: 0px;
  right: 2px;
  color: #eeeeee;
  font-size: 100%;
  align-items: center;
  justify-content: center;
  transition: all 600ms 0s ease;
}

#windowInterface:hover {
  filter: drop-shadow(0 0 4px rgb(0, 0, 0, 0.4));
}

#playerBackground {
  position: absolute;
  z-index: -99;
  background-color: black;
  width: 288px;
  height: 240px;
}
