body {
  background-color: #F5F5F5;
  width: 100vw;
  height: 100vh;
  -webkit-app-region: drag;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  font-weight: bold;
}

.playlist-display {
  background-color: #FFFFFFFF;
  width: 79vw;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 22vh;
  margin-bottom: 20px;
  position: relative;
}

.playlist-display:hover .play-button {
  opacity: 1;
}

.thumbnail {
  height: 103%;
  clip-path: circle(27px at center);
  -webkit-user-drag: none;
  user-select: none;
}

.playlist-title-display {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  color: #353535;
  font-size: 150%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none;
}

.playlist-title-display {
  cursor: pointer;
}

#playlist-display-wrapper {
  display: flex;
  position: absolute;
  margin-top: 10vh;
  height: 80vh;
  width: 80vw;
  -webkit-app-region: no-drag;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 10px;
  overflow: scroll;
  right: 0vw;
  opacity: 1;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  will-change: transform opacity;
}

::-webkit-scrollbar {
  -webkit-app-region: no-drag;
  width: 4.5px;
  height: 2.5px;
}

::-webkit-scrollbar-thumb {
  -webkit-app-region: no-drag;
  background-color: #888888;
  border-radius: 10px;
  transition: all 300ms 0s ease;
  opacity: 0;
}

::-webkit-scrollbar-corner {
  -webkit-app-region: no-drag;
  display: none;
  margin: 0;
}

.play-button {
  position: absolute;
  margin-left: 40px;
  font-size: 150%;
  color: #FFFFFFFF;
  cursor: pointer;
  opacity: 0;
  transition: all 300ms 0s ease;
}

.button-create-playlist {
  display: flex;
  background-color: #ffffffff;
  height: 31px;
  width: 70%;
  margin: 0 auto 0 auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #353535;
  font-family: 'Noto Sans JP', sans-serif;
}

.hidden {
  display: none;
}

.plus-icon {
  margin-right: 10px;
  color: #353535;
}

#playlist-editor-wrapper {
  -webkit-app-region: drag;
  position: absolute;
  height: 100vh;
  width: 100Vw;
  justify-content: flex-start;
  padding-right: 10px;
  right: 0vw;
  opacity: 1;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(150%);
  background-color: #F5F5F5;
  padding: 0;
  will-change: transform opacity;
}

.playlist-editor {

  -webkit-app-region: drag;

  overflow: hidden;

  width: 100%;

  height: 100%;
}

/*
#ui-state-holder-playlist-editor :checked+#playlist-editor-wrapper {
  opacity: 0;
} */

#ui-state-holder-playlist-editor:checked+#playlist-display-wrapper {
  animation: fade-out-to-left 0.7s ease forwards;
}

#ui-state-holder-playlist-editor:checked~#playlist-editor-wrapper {
  animation: fade-in-from-right 0.7s ease forwards;
}

#ui-state-holder-playlist-display:checked~#playlist-editor-wrapper {
  animation: fade-out-to-right 0.7s ease forwards;
}

#ui-state-holder-playlist-display:checked~#playlist-display-wrapper {
  animation: fade-in-from-left 0.7s ease forwards;
}

@keyframes fade-in-from-right {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes fade-in-from-left {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }

  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes fade-out-to-left {
  0% {
    transform: translateX(-50%);
    opacity: 1;
  }

  100% {
    transform: translateX(-150%);
    opacity: 0;
  }
}

@keyframes fade-out-to-right {
  0% {
    transform: translateX(-50%);
    opacity: 1;
  }

  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}




.video-url-display {
  display: none;
  width: 100%;
  margin-left: 35px;
}

.video-title-display {
  width: 88%;
  user-select: none;
  margin-left: 35px;
}

.videolist-display {
  height: 60%;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  flex-direction: column;
  align-items: center;
  -webkit-app-region: no-drag;
}

.video-display {
  /* display: flex; */
  align-items: center;
  width: 80%;
  margin: 10px;
  background-color: #FFFFFF;
  -webkit-app-region: no-drag;
  border-radius: 7px;
}

.playlist-thumbnail {

clip-path: circle(31px at center);

height: 85px;
}

#playlist-info-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10vw;
  margin-left: 8vw;
  margin-top: -2vh;
  margin-bottom: -3vh;
}

#playlist-title-display {
  color: #353535;
  font-size: 157%;
  font-weight: 900;
  font-family: 'Noto Sans JP', sans-serif;
  user-select: none;
}

.button-play {
  margin-left: 3px;
}

#playlist-navigator {
  display: flex;
  width: 80vw;
  height: 7vh;
  margin-top: 9px;
  align-content: center;
}

.navigator {
  color: #353535;
  margin-right: 12px;
  -webkit-app-region: no-drag;
  cursor: pointer;
  display: flex;
  width: 15px;
  height: 17px;
}

.icon-music {
  color: #353535;
  margin-left: 15px;
  font-size: 80%;
}

.charter-display {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 68%;
  height: 45px;
  color: #353535;
}

.button-playvideo {
  margin-right: 16px;
  color: #353535;
  opacity: 0;
  transition: all 300ms 0s ease;
  cursor: pointer;
}

.video-display:hover .button-playvideo {
  opacity: 1;
}


#button-back {
  position: relative;
  left: 20px;
  top: 10px;
  color: #353535;
  cursor: pointer;
  -webkit-app-region: no-drag;
  width: 16px;
  height: 16px;
}

.button-close-window{

}
